<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="self.xf.mapper.ListMapper">
    <insert id="save" parameterType="java.util.List">
        insert into hnzf_product_list (
        `ENTRY_ID`,
        `I_E_DATE`,
        `CONTR_NO`,
        `TRADE_MODE`,
        `G_NO`,
        `OWNER_NAME`,
        `OWNER_CODE`,
        `CODE_TS`,
        `G_NAME`,
        `G_MODEL`,
        `QTY_1`,
        `UNIT_1`,
        `RELEASE_TIME`,
        `DEREGULATION_TIME`,
        `OWNER_PERSON`,
        `OWNER_PERSON_TEL`,
        `IS_BACK`,
        `ID_NUM`,
        `TYPE`,
        `IDEN_NUM`) values
        <foreach collection="requestList" item="item"  separator=",">
            (
            #{item.ENTRY_ID},
            #{item.I_E_DATE},
            #{item.CONTR_NO},
            #{item.TRADE_MODE},
            #{item.G_NO},
            #{item.OWNER_NAME},
            #{item.OWNER_CODE},
            #{item.CODE_TS},
            #{item.G_NAME},
            #{item.G_MODEL},
            #{item.QTY_1},
            #{item.UNIT_1},
            #{item.RELEASE_TIME},
            #{item.DEREGULATION_TIME},
            #{item.OWNER_PERSON},
            #{item.OWNER_PERSON_TEL},
            #{item.IS_BACK},
            #{item.ID_NUM},
            #{item.TYPE},
            #{item.IDEN_NUM})
        </foreach>
    </insert>

</mapper>
